html {
  background: #f6faff;
}

.wrapper {
  display:flex;  
  font: 30;
  font-style: normal;
  font-weight: bold;
}

.item {
  left: 0;
  background-color: #67777c;
  height: 10%;
  width: 100%;
  padding: 1rem;
  border-left: 10px;
  color: #f6faff;
  font-size: 20px;
}

 
.headerLogo{
  height: 0.5%;
  width: 11%;
}

.wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.wrapper3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-stretch:expanded;
}

.socialLogo{
  height: 40%;
  width: 3%;
  padding: 25px;
}

.footerLogo{
  height: 5%;
  width: 3.25%;
}

.footerText{
align-items: center;
}

.main{
  background-color: white;
color: #67777c;
}

.bodyMrCoffeeLogo{
 display: flex;
}

.bodyMrCoffeeJpgItem{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: 1000px;
  width: 1800px;
  padding-left: 100px;
  padding-right: 100px;
}
 
.bodyMrCoffeeLogoItem{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 240px;
  width: 250px;
}